header{
    padding: 2em;
}
body{
    background-color: rgb(255, 255, 255);
    font-size: 2.1em;
    text-align: center;
}
img{
    height: 10em;
    width: 9em;
    border-radius: 2em;
    border: solid #EC4F22; 
}
