body{
    background-color: rgb(255, 255, 255);
}
h1{
    border-style: dashed;
    color: #CD1D5E;
    font-size: 100px;
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 40px;
}
/*marging:auto*/
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 5px;
    margin: 0.8em;
}
img{
    height: 15em;
    width: 20em;
    border-radius: 5em;
    border-style: solid;
    border-color: #EC4F22;
}
ol{
    font-size: 2em;
    text-align: start;
    color: #FF5757;
}
/*ver icono de regreso*/